
//paleta de colores
$color1: rgb(0, 247, 255);
$color2: rgb(0, 0, 0);
$color3: rgb(166, 164, 164);
$color4: rgb(255, 255, 255);

$font1: cursive;
$font2: fantasy;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* nav inicia */
.navbar{
    background-color: $color1;
}

.nav-link{
    color: $color2 !important;

}
.nav-link:hover{
color: $color3 !important;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

h1{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-family: $font1;
}
/* main inicia */
main{
    height: 100vh;
    background-image: url(./multimedia/beach-518188_1280.jpg);
    background-size: cover;
}


/* main fin */

/* inicio inicia */
.carousel-inner{
    height: auto;
    width: auto;
    padding: 20px;
}
@media all and (min-width: 800px){
    .carousel-inner{
        height: 500px;

    }
}

/* inicio fin */

/* nosotros inicia */
.nosotros{
    width: 75%;
    border: 8px solid $color3;
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
    align-items: center;
    text-align: center;
    ;

}
.nosotros a{
    color: $color4;
    background-color: aqua;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
}
.nosotros a:hover{
    background-color: $color2;
}
/* nosotros fin */


/* departamento inicia */
.sec{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}


.card{
    background-color: $color1;
    height: auto;
    width: auto;
    border: 5px solid $color1;
    text-align: center;

}
.card-img{
    height: 200px;
    background-image: url(./multimedia/IMG-20240329-WA0049.jpg);
    background-size: cover;
    border: none;
}
.card-title{
    font-size: 20px;
    text-transform: uppercase;
    
}
.card-desc{
    padding: 10px;

}
@media all and (max-width: 400px){
    .card{
        

    }
}
/* departamento fin */


/* contacto inicia */
.datos{
    text-align: center;
    
}
.mapa{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
@media all and (min-width: 850px){
    iframe{
        height:  300px;
        width: 800px;
        
    }
}
@media all and (max-width: 850px){
    iframe{
        height: 400px;
        width: 500px;
        
    }
}
@media all and (max-width: 500px){
    iframe{
        height: 200px;
        width: 200px;
        
    }
}
/* contacto fin */


/* footer inicia */
footer{
    background-color: $color2;
    text-align: center;
    color: $color1;
    font-size: 20px;
    padding: 15px;
}
footer a{
    color: $color1;
    font-size: 30px;
    letter-spacing: 15px;
    text-decoration: none;

}
footer a:hover{
    color: $color4;
}
/* footer fin */